body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,73,1) 0%, rgba(61,101,161,1) 38%, rgba(0,212,255,1) 100%);
        margin: 0;
}

.clock {
    position: relative;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,50,43,1) 0%, rgba(9,35,74,1) 72%, rgba(9,12,13,1) 100%);   
 width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    background-color: white;
}
.number {
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.number1 { top: 18px; right:75px; }
.number2 { top: 65px; right: 25px; }
.number3 { top: 138px; right: 5px; }
.number4 { bottom: 65px; right: 30px; }
.number5 { bottom: 15px; right: 80px; }
.number6 { bottom: 0; left: 145px; }
.number7 { bottom: 18px; left: 78px; }
.number8 { bottom: 65px; left: 25px; }
.number9 { top: 140px; left: 5px; }
.number10 { top:70px; left: 25px; }
.number11 { top: 20px; left: 70px; }
.number12 { top: 0; left: 140px; }
.hand {
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: black;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.4, 2.3, 0.3, 1);
}

.hour {
    position: absolute;
    left:33px;
    top:145px;
    height: 13px;
    width: 39%;
    background-color: #000000;
}

.minute {
    position: absolute;
    left:13px;
    height: 6px;
    width: 45%;
    background-color: #807272;
}

.second {
    height: 4px;
    width: 50%;
    background-color: red;
}

.center {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(28, 20, 20);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
